<%- include("layout/header") %>

    <!--about section  starts-->
    <div class="section-tital">about</div>

    <section class="about">

        <img src="/images/ab.png" alt="">

        <div class=" box">

            <h3>why choose us?</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, aliquam doloribus. Aliquam, enim vitae
                velit itaque molestias iste perspiciatis laborum possimus quos veniam laudantium sequi. Rerum magnam
                voluptatum corporis possimus?
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci maiores officia assumenda aliquam
                dolorum quos mollitia, eius blanditiis, iure placeat perspiciatis accusamus ducimus voluptas quasi. Hic
                ex cumque consequuntur repellat!
            </p>
            <a href="contact" class="btn">contact us</a>


        </div>

    </section>
    <!--about section  ends-->

    <!--reviows section  starts-->

    <div class="section-tital">top reviews</div>

    <section class="reviews">

        <div class="box-container">

            <div class="box">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">amazing results</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem corrupti consectetur nisi
                    tempora quas!</p>

                <div class="user">

                    <img src="/images/men/m1.jpg" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>

                </div>

            </div>

            <div class="box">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">easy to use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem corrupti consectetur nisi
                    tempora quas!</p>

                <div class="user">

                    <img src="/images/men/g1.jpg" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>

                </div>

            </div>

            <div class="box">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">nice experience</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem corrupti consectetur nisi
                    tempora quas!</p>

                <div class="user">

                    <img src="/images/men/m2.png" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>

                </div>

            </div>


            <div class="box">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">got selected</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem corrupti consectetur nisi
                    tempora quas!</p>

                <div class="user">

                    <img src="/images/men/g2.jpg" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>

                </div>

            </div>


            <div class="box">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">wide range</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem corrupti consectetur nisi
                    tempora quas!</p>

                <div class="user">

                    <img src="/images/men/m3.png" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>

                </div>

            </div>


            <div class="box">

                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>

                <h3 class="title">super packages</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste dolorem corrupti consectetur nisi
                    tempora quas!</p>

                <div class="user">

                    <img src="/images/men/g3.jpg" alt="">
                    <div>
                        <h3>john deo</h3>
                        <span>web designer</span>
                    </div>

                </div>

            </div>

        </div>

    </section>

    <!--reviows section  ends-->



    <%- include("layout/footer") %>

        <!--link js-->
        <script src="script.js"></script>