<%- include("layout/header") %>

    <!--account section starts-->
    <div class="account-form-container">

        <section class="account-form">

            <form action="" method="post">

                <h3>welcome back!</h3>
                <input type="email" required name="name" maxlength="50" placeholder="enter your email" class="input">

                <input type="text" required name="pass" maxlength="50" placeholder="enter your password" class="input">

                <p>don't have an account? <a href="register">register now</a></p>

                <input type="submit" value="login now" name="submit" class="btn">

            </form>

        </section>

    </div>
    <!--accountsection  ends-->

    <%- include("layout/footer") %>

        <!--link js-->
        <script src="/js/script.js"></script>