<%- include("layout/header") %>

    <!--account section starts-->
    <div class="account-form-container">

        <section class="account-form">

            <form action="" method="post">

                <h3>create new account!</h3>

                <input type="text" required name="name" maxlength="50" placeholder="enter your name" class="input">

                <input type="email" required name="email" maxlength="50" placeholder="enter your email" class="input">

                <input type="password" required name="pass" maxlength="50" placeholder="enter your password"
                    class="input">

                <input type="password" required name="c_pass" maxlength="50" placeholder="confirm your password"
                    class="input">

                <p>alreaday have on account?<a href="login"> register now</a></p>

                <input type="submit" value="register now" name="submit" class="btn">

            </form>

        </section>

    </div>
    <!--accountsection  ends-->

    <%- include("layout/footer") %>

        <!--link js-->
        <script src="script.js"></script>