<%- include("layout/header") %>

    <!--view job section starts-->

    <section class="job-details">

        <h1 class="heading">job details</h1>

        <div class="details">

            <div class="job-info">

                <h3>senior wab designer</h3>
                <a href="view_company">IT infosys co.</a>
                <p><i class="fas fa-map-marker-alt"></i> dhaka, bangladesh</p>

            </div>

            <div class="basic-details">

                <h3>salary</h3>
                <p>10000 - 25000 per month</p>
                <h3>benefits</h3>
                <p>work from home, health insurance</p>
                <h3>job type</h3>
                <p>part-time</p>
                <h3>schedule</h3>
                <p>day shift</p>

            </div>

            <ul>
                <h3>requirements</h3>
                <li>educarion : <span>graduate</span></li>
                <li>age : <span>24+</span></li>
                <li>language : <span>bangla, english</span></li>
                <li>experience : <span>1+ years</span></li>
            </ul>

            <ul>

                <h3>qualifications</h3>
                <li>Bachelor's (Preferred)</li>
                <li>PHP: 1 year (Preferred)</li>
                <li>Web design: 1 year (Preferred)</li>
                <li>WordPress: 1 year (Preferred)</li>
                <li>total work: 3 years (Required)</li>

            </ul>

            <ul>
                <h3>skills</h3>
                <li>html5 and css3</li>
                <li>javascript</li>
                <li>node.js</li>
                <li>react.js</li>
                <li>php</li>
                <li>mysql</li>
            </ul>

            <div class="description">

                <h3>job description</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim reprehenderit iusto repudiandae
                    doloribus modi ad praesentium culpa non et blanditiis?
                </p>

                <ul>
                    <li>Hiring 2 condidate for this role</li>
                    <li>posted 2 days ago</li>
                </ul>

            </div>

            <form action="" method="post" class="flex-btn">

                <input type="submit" value="apply now" name="apply" class="btn">
                <button type="submit" class="save"><i class="far fa-heart"></i> <span>save job</span></button>

            </form>


        </div>
    </section>
    <!--view job section  ends-->

    <%- include("layout/footer") %>

        <!--link js-->
        <script src="/js/script.js"></script>