<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--link css-->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <!--header section  starts-->

    <header class="header">

        <section class="flex">

            <div id="menu-btn" class="fas fa-bars-staggered"></div>

            <a href="/" class="logo"><i class="fas  fa-briefcase"></i>JobWorld.</a>

            <nav class="navbar">

                <a href="/">home</a>
                <a href="about">about us</a>
                <a href="jobs">all jabs</a>
                <a href="contact">contact us</a>
                <a href="login">account</a>

            </nav>

            <a href="#" class="btn" style="margin-top: 0;"> post job</a>

        </section>

    </header>

    <!--header section  ends-->

</body>

</html>